@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base UI */
html,
body {
  min-height: 100%;
}
body {
  @apply font-sans bg-neutral-50 text-neutral-900 antialiased;
}
a {
  @apply underline;
}
